<section>

    <div th:fragment="cardActions" class="card shadow-sm">
        <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>
        <div class="card-body">
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                    <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                    <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                </div>
                <small class="text-muted">9 mins</small>
            </div>
        </div>
    </div>

    <div th:fragment="cardImg(title, createdAt, thumbnail)" class="card">
        <img th:src="@{http://localhost:8080/api/v1/files/{thumbnail}(thumbnail=${thumbnail})}" class="card-img-top" alt="...">
        <div class="card-body">
            <span th:class="${hasAuthor ? 'badge' : ''}"
                th:classappend="${hasAuthor ? 'bg-success' : ''}">Chan Chhaya</span>
            <span class="float-end" th:text="${createdAt}">01-Jan-2023</span>
            <p class="card-title mt-3 fs-5" th:text="${title}">Spring Framework Basic</p>
        </div>
    </div>

    <a th:href="@{/playlists(uuid=12, title='science')}"
       th:fragment="cardNoImg(title, author, description)"
        class="playlist-card">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title" th:text="${title}"></h5>
                <h6 class="card-subtitle mb-2 text-muted" th:text="${author}"></h6>
                <p class="card-text" th:text="${description}"></p>
            </div>
        </div>
    </a>

    <div th:fragment="cardNoImg2" class="card">
        <div class="card-body">
            <h5 class="card-title">cardNoImg2</h5>
            <h6 class="card-subtitle mb-2 text-muted">cardNoImg2</h6>
            <p class="card-text">cardNoImg2</p>
        </div>
    </div>

<!--    <div th:replace="~{fragments/card :: cardNoImg(title='Spring Weekend', author='ISTAD', description='So, you define explicit your mandatory and your optional values in the declaration tag of your fragment.')}"></div>-->


</section>