<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Playlist Details</title>
</head>
<body>
    <h1>Playlist Detail By UUID</h1>
    <h2 th:text="${uuid}"></h2>
</body>
</html>