<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{master-layout}">
<head>
    <meta charset="UTF-8">
    <title>Playlist</title>
</head>
<body>
<main layout:fragment="content">

    <div class="container">

        <h1 class="page-heading my-4">All Playlists</h1>

        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
            <div th:each="playlist : ${playlists.list}" th:object="${playlist}" class="col-md-4">
                <div th:replace="~{fragments/card :: cardImg(*{title}, *{createdAt}, *{thumbnail})}"></div>
            </div>
        </div>
    </div>

</main>
</body>
</html>